<% unless @messages.nil? %>
  <% @messages.each do |message| %>
    <li><b><%= message.user %>:</b> <%= message.content %></li>
  <% end %>
<% end %>
<script>
  $(".chatbox_content").attr({ scrollTop: $(".chatbox_content").attr("scrollHeight") });
</script>
