h2 {
  color: red;
}

#window { width: 90%; margin: 5em auto; }
#chat { border: 1px solid #C3C3C3; background: #EFEFEF; height: 20em; overflow: auto; }
#message { width: 100%; border: 1px solid #C3C3C3; padding: 0.1em; }

body { background: #DADADA; }
p { margin: 0; padding: 0 }
.nick { color: #777777; }
.message { color: #232323; padding: 5px;}
